body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/test-bg.jpg");
  transition: background-image 0.5s ease-in-out;
}
.container{
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 3em;
}
.container:hover > :not(:hover){
  opacity: 0.5;
  transform: scale(0.8);
}
.container:hover > :not(:hover) > .game-art-img{
  filter: brightness(50%);
}
.page-header{
  font-family: "Alegreya Sans SC", sans-serif;
  text-align: center;
  font-size: 6rem;
  margin: 0;
  margin-top: 0.8em;
  font-weight: bold;
  background: linear-gradient(90deg, #e6e6e6, #c0c0c0, #f2f2f2, #d9d9d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page-sub-header{
  font-family: "Alegreya Sans SC", sans-serif;
  text-align: center;
  font-size: 6rem;
  margin: 0;
  font-weight: bold;
  background: linear-gradient(90deg, #e6e6e6, #c0c0c0, #f2f2f2, #d9d9d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}