body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/test-bg.jpg");
  transition: background-image 0.5s ease-in-out;
}
.game-art-img{
  width: 350px;
  height: 350px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}
.game-art-img:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.container{
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.container:hover > :not(:hover){
  opacity: 0.5;
  transform: scale(0.8);
}
.container:hover > :not(:hover) > .game-art-img{
  filter: brightness(50%);
}
.game-card-container{
  transition: all 0.3s ease-in-out;
}

